# Core functionality - changes here should be rare!
/src/app.py                   @Abdr145
/src/backend/database.py      @Abdr145
/src/backend/routers/auth.py  @Abdr145

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Abdr145
